<h3>
  <%= @notice %> <a href="/new_roll">New Roll</a><br>
</h3>
<h4>
  <%= @hand.name %>
  <br>
  Total Points - <%= @hand.total %>
  <br>
  Round Points - <%= @hand.round %>
  <p id="potential_score">
  </p> 
</h4>

<%= form_for(@hand, html: {id: "rolled_dice"}) do |f| %>

  <%= f.fields_for(:cubes, @hand.cubes.where(:held => false)) do |d| %>
  
    <%= d.label :held, image_tag(d.object.face_image) %>
    <%= d.check_box :held, options = {name: "cubes[keep][]", class: "cube_checkbox"}, d.object.id, nil %>
    
  <% end %>
  
  <%= f.submit %>
<% end %>

<button id="potential_button">See potential score</button>
<%= link_to 'Potential Score', "/potential_score", remote: true %>

<%= form_tag "/keep_dice", :id => "dice_form", :method => "put", :remote => true do %>
  <% @dice.where(:held => false).each do |die| %>
      <input type="checkbox" value="<%= die.id %>" name="cubes[keep][]" id="die<%= die.id %>"><label for="die<%= die.id %>"><%= image_tag (die.face_image) %></label>
  <% end %>
  <input type="checkbox" name="cubes[score_and_save]" id="bank_checkbox">
  <p>
    <input type="submit" value="Keep these dice and roll again">
  </p>
<% end %>
  <p>
    <button id="bank">Bank and Pass</button>
  </p>
  <br>
  <br>

<a href="/new_roll">New Roll</a><br>
<a href="/roll_dice">Roll Dice <-- rerolls currently free dice - not a real option</a><br>
<a href="/save_score">Save Score <-- saves current round score - not a real option</a><br>

<% @hands.each do |hand| %>
  <p>
    <%= hand.name %> - <%= hand.total %>
  </p>
<% end %>