<h4>
  <%= @hand.name %>
  <br>
  Total Points - <%= @hand.total %>
  <br>
  Round Points - <%= @hand.round %>
</h4>
<p>
  Held Dice - <br>
  <% @dice.where(:held => true).each do |die| %>
    <%= die.face %>
  <% end %>
</p>


<%= form_tag "/keep_dice", :method => "put" do %>
  <% @dice.where(:held => false).each do |die| %>
    <p>
      <input type="checkbox" value="<%= die.id %>" name="cubes[keep][]"><%= die.face %>
    </p>
  <% end %>
  <input type="submit" value="Keep these dice">
<% end %>

<a href="/new_roll">New Roll</a><br>
<a href="/roll_dice">Roll Dice</a><br>
<a href="/save_score">Save Score</a><br>